<app-navbar></app-navbar>
<br>
<form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <div class="login-container">
        <h1>Log In</h1>
        <mat-form-field>
            <input matInput formControlName="username" placeholder="Username here">
        </mat-form-field>
        <div class="error" *ngIf="(signUpForm.get('username')?.invalid && (signUpForm.get('username')?.dirty || signUpForm.get('username')?.touched))">
            Please provide a username.
        </div>
        <mat-form-field>
            <input type="password" matInput formControlName="password" placeholder="Password here">
        </mat-form-field>
        <div class="error" *ngIf="(signUpForm.get('password')?.invalid && (signUpForm.get('password')?.dirty || signUpForm.get('password')?.touched))">
            Please provide a password.
        </div>
        <button mat-button type="submit">Log in</button>
        <button mat-button [routerLink]="['/signup']">Sign Up</button>
    </div>
</form>