<app-navbar></app-navbar>
<br>
<form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
  <div class="login-container">
      <h1>Sign Up</h1>
      <mat-form-field>
          <input matInput formControlName="username" placeholder="Username here">
      </mat-form-field>
      <div class="error" *ngIf="(signUpForm.get('username')?.invalid && (signUpForm.get('username')?.dirty || signUpForm.get('username')?.touched))">
          Please provide a username.
      </div>
      <mat-form-field>
          <input matInput formControlName="firstname" placeholder="First name here">
      </mat-form-field>
      <div class="error" *ngIf="(signUpForm.get('firstname')?.invalid && (signUpForm.get('firstname')?.dirty || signUpForm.get('firstname')?.touched))">
          Please provide a first name.
      </div>
      <mat-form-field>
          <input matInput formControlName="lastname" placeholder="Last name here">
      </mat-form-field>
      <div class="error" *ngIf="(signUpForm.get('lastname')?.invalid && (signUpForm.get('lastname')?.dirty || signUpForm.get('lastname')?.touched))">
          Please provide a Last name.
      </div>
      <mat-form-field>
          <input matInput formControlName="email" placeholder="Email here">
      </mat-form-field>
      <div class="error" *ngIf="(signUpForm.get('email')?.invalid && (signUpForm.get('email')?.dirty || signUpForm.get('lastname')?.touched))">
          Please provide a Email.
      </div>
      <mat-form-field>
          <input type="password" matInput formControlName="password" placeholder="Password here">
      </mat-form-field>
      <div class="error" *ngIf="(signUpForm.get('password')?.invalid && (signUpForm.get('password')?.dirty || signUpForm.get('password')?.touched))">
          Please provide a password.
      </div>
      <mat-form-field>
        <mat-label>Priviledge</mat-label>
        <select matNativeControl formControlName="type">
          <option value="admin">Admin</option>
          <option value="customer">Customer</option>
        </select>
      </mat-form-field>
      <button mat-button type="submit">Sign Up</button>
      <button mat-button [routerLink]="['/login']">Login</button>
  </div>
</form>